.sectionDescription {
    flex-grow: 1;
}

.sectionImage img {
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.sectionTitle, .sectionDescription, .sectionSchedule, .sectionForm {
    padding: 10px 20px;
}

.sectionSchedule {
    text-align: center;
    font-weight: 600;
}