.rowContainer {
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 60px;
}

section {
    border-radius: 10px;
    width: 25%;
    color: var(--font);
    box-shadow: 0 0 10px 0 var(--shadow);
    background-color: var(--white);
}

.attractionDescription {
    flex-grow: 1;
}

.attractionImage img {
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.attractionTitle, .attractionDescription, .attractionSchedule, .attractionForm {
    padding: 10px 20px;
}

.attractionSchedule {
    text-align: center;
    font-weight: 600;
}