/* Atributs personalitzats */
:root {
    --white: white;
    --darkwhite: #ddd;
    --gray: #2E2E2E;
    --blue: #4B01D1;
    --cream: #EEEEEE;
    --font: #00000090;
    --orange: #F2662B;
    --input: #f2882b;
    --shadow: #00000050;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: arial;
    text-decoration: none;
    list-style-type: none;
    color: var(--font);
}

/* ----------GENERALES---------- */

.m-10 {
    margin: 10px 0px;
}

.h-auto {
    height: auto;
}

.w-100, header, .headerTop, .social ul, .sectionImage img, .background img {
    width: 100%;
}

.verticalCenter, .displayFlex, header, header nav, header nav ul, .alignLeft, form, .social, .alignCenter, .directionColumn, main, body, article, footer, .newsletter, .social ul, .social li, .siteMap, .rowContainer, section {
    display: flex;
}

.alignLeft {
    justify-content: start;
}

.directionColumn, main, body, form, header, .down-menu, .down-submenu, .newsletter, footer, section {
    flex-direction: column;
}

.alignCenter, main, form, header nav {
    justify-content: center;
}

.verticalCenter, .alignCenter, main, form, header nav ul, .social li, .newsletter {
    align-items: center;
}

header, .headerTop, .signin, .newsletter, .newsletter input, .social, .siteMap, .down-menu, .down-submenu {
    background-color: var(--white);
}

.navLink:hover .down-menu, .navLink:hover > .down-submenu, .sidebar > form, .sidebarButton, .background {
    position: absolute;
}

/* el 'flex-grow' del main, junt amb un height 100% de l'html i el body, fa que el contingut del main s'estiri al maxim deixant el footer abaix de la pàgina */
main {
    flex-grow: 1;
    margin-top: 150px;
}

html, body, section {
    height: 100%;
}

/* Els inputs no tindràs boreres */
input {
    border: none;
}

.rowContainer {
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 60px;
}

section {
    border-radius: 10px;
    width: 25%;
    color: var(--font);
    box-shadow: 0 0 10px 0 var(--shadow);
    background-color: var(--white);
}

/* ----------HEADER---------- */

/* Estils per al header */
header {
    position: fixed;
    justify-content: flex-start;
    height: 100px;
    box-shadow: 0px 5px 12px 10px var(--white);
    z-index: 999;
}

header nav {
    text-align: center;
    margin-top: 6px;
}

header img {
    position: fixed;
    top: 20px;
    left: 0px;
    right: 0px;
    height: 3rem;
    margin: auto;
}

header li, header li a {
    color: var(--blue);
}

.down-menu li {
    padding: 8px;
}

/* headerTop es on està el logo */
.headerTop {
    height: 70px;
    z-index: 100;
}

header li:hover > i, header li:hover, header li a:hover {
    color: var(--orange);
}

.navLink:hover > li > i::before {
    transform: rotate(180deg);
}

.down-menu, .down-submenu {
    display: none;
}

.down-menu {
    box-shadow: 0px 1500px 0px 1500px var(--shadow);
}

.navLink, .sidebar, footer {
    position: relative;
}

header nav > ul > div:hover {
    border-bottom: 4px solid var(--orange);
    margin-bottom: -4px;
}

.navLink:hover .down-menu {
    display: block;
    top: 22px;
    left: 0px;
    width: 250px;
    color: var(--blue);
}

.navLink:hover > .down-submenu {
    display: block;
    top: 0px;
    left: 249px;
    width: 300px;
    color: var(--blue);
}

.down-menu li, .down-submenu li {
    display: block;
    text-align: start;
    margin: 0.1px 0px;
    border-bottom: 1px solid var(--blue);
}

header i {
    margin-left: 10px;
}

header nav ul {
    justify-content: space-around;
    width: 50%;
}

.navLink, .down-menu li, .sidebarButton, input[type="submit"] {
    cursor: pointer;
}

/* ----------FORMULARIO HEADER---------- */

.signin {
    margin: 20px;
    padding: 30px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

form {
    z-index: 90;
}

.sidebar {
    right: 0px;
    top: -210px;
    transition: all 0.5s ease 0s;
}

.sidebar:hover {
    top: 250px;
}

.sidebar:hover .sidebarButton {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}

.sidebar > form {
    top: -285px;
    width: 350px;
}

.sidebarButton {
    bottom: -30px;
    left: 10px;
    padding: 7px 15px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    transition: opacity 1s ease 0s;
    height: 30px;
}

.sidebar fieldset {
    border: 0px;
}

.sidebar legend {
    margin-left: 10px;
}

#email, #password, #user {
    height: 40px;
    margin: 3px;
    padding: 0px 10px;
    border: 1px solid var(--gray);
    font-size: 20px;
}

input:focus {
    outline: none;
}

.sidebar input[type="text"], .sidebar input[type="email"], .sidebar input[type="password"] {
    background-color: var(--cream);
}

input[type="submit"] {
    margin-top: 50px;
    color: var(--white);
    background-color: var(--orange);
    height: auto;
    padding: 10px;
}

section input[type="submit"] {
    margin: 0px;
}

input[type="submit"]:hover {
    background-color: var(--input);
}

/* ----------FOOTER---------- */

footer {
    flex-wrap: wrap;
    align-content: center;
}

.newsletter {
    padding-top: 20px;
}

.newsletter form {
    display: inline-block;
    margin-top: 20px;
    padding: 40px 0;
    border-radius: 20px;
    background-color: var(--blue);
}

.newsletter input {
    height: 50px;
    margin: 0 20px;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 1.3em;
}

footer form input[type=text], footer form input[type=email] {
    width: 350px;
}

footer form input[type=submit] {
    width: 100px;
    background-color: var(--orange);
}

.social {
    width: 80%;
    padding: 50px 0 30px;
}

.social ul {
    justify-content: space-evenly;
    font-size: 1.2em;
    color: var(--font);
}

footer i {
    width: 40px;
    font-size: 1.6em;
    color: var(--font);
}

.background {
    bottom: 0;
    z-index: -999;
}

.background img {    
    opacity: .6;
}

.siteMap {
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding: 20px 0;
    background-color: var(white);
}

.siteMap li {
    padding: 5px 0;
}

.siteMap li a {
    color: var(--font);
}

.siteMap li a:hover {
    text-decoration: underline;
}