:root {
    --white: white;
    --darkwhite: #ddd;
    --gray: #2E2E2E;
    --blue: #4B01D1;
    --cream: #EEEEEE;
    --font: #00000090;
    --orange: #F2662B;
    --input: #f2882b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    text-decoration: none;
    list-style-type: none;
    color: var(--font);
}

.m-10 {
    margin: 10px 0;
}

.w-100 {
    width: 100%;
}

.displayFlex {
    display: flex;
}

.alignLeft {
    display: flex;
    justify-content: start;
}

form, .social, .alignCenter, .directionColumn, main, body, article {
    display: flex;
}

.directionColumn, form {
    flex-direction: column;
}

.alignCenter, main, form {
    align-items: center;
    justify-content: center;
}

.verticalCenter {
    display: flex;
    align-items: center;
}

main {
    /* position: relative; */
    flex-direction: column;
    flex-grow: 1;
    margin-top: 180px;
    z-index: 10;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
}

/* ----------header---------- */

header {
    position: fixed;
    width: 100%;
    z-index: 990;
    box-shadow: 0px 5px 12px 10px white;
}

.headerTop {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.headerTop img {
    height: 4rem;
}

/* ----------header nav----------- */

.headerBottom {
    justify-content: center;
    align-items: center;
    padding: 8px 16px 0;
    font-size: 16px;
    background-color: white;
}

.headerBottom > nav > ul > div {
    height: 30px;
}

.headerBottom li {
    color: var(--blue);
}

.down-menu li {
    padding: 8px;
}

.navLink:hover, .down-menu li:hover {
    cursor: pointer;
}

.navLink:hover > li > i, .navLink:hover > li, .headerBottom li:hover {
    color: #F2662B;
}

.navLink:hover > li > i::before {
    transform: rotate(180deg);
}

header select {
    width: 50px;
    background-color: #737277;
    border: none;
}

.down-menu, .down-submenu {
    display: none;
    flex-direction: column;
}

.down-menu {
    box-shadow: 0 1000px 0 1000px rgba(0, 0, 0, 0.5);
}

.navLink {
    position: relative;
    margin: 0 20px;
}

nav > ul > div:hover {
    border-bottom: 4px solid #F2662B;
}

.navLink:hover .down-menu {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 250px;
    background-color: #FFF;
    color: #00000080;
}

.navLink:hover > .down-submenu {
    display: block;
    position: absolute;
    top: -5px;
    left: 249px;
    width: 300px;
    background-color: #FFF;
    color: #00000080;
}

.down-menu li, .down-submenu li {
    display: block;
    margin: 5px 0;
    border-bottom: 1px solid var(--blue);
}

header i {
    margin-left: 10px;
}

/* ----------formulario---------- */

.signin {
    margin: 20px;
    padding: 30px;
    border: 1px solid #111;
    border-radius: 10px;
    background-color: var(--white);
}

.sidebar {
    position: fixed;
    z-index: 999;
    right: 525px;
    top: -200px;
    transition: 0.5s;
}

.sidebar:hover {
    top: 270px;
}

.sidebar:hover .sidebarButton {
    opacity: 0;
    transition: opacity .2s;
}

.sidebar > form {
    position: absolute;
    top: -285px;
    width: 350px;
}

.sidebarButton {
    position: absolute;
    bottom: -55px;
    padding: 15px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.3em;
    cursor: pointer;
    transition: opacity 1s;
}

.sidebar fieldset {
    border: 0;
}

.sidebar legend {
    margin-left: 10px;
}

#email, #password, #user {
    height: 40px;
    margin: 3px ;
    padding: 0 10px;
    border: 1px solid #111;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.sidebar input[type=text], .sidebar input[type=email], .sidebar input[type=password] {
    background-color: var(--cream);
}

.sidebar input[type=submit], section input[type=submit] {
    margin-top: 50px;
    color: white;
    background-color: var(--orange);
    height: auto;
    padding: 10px;
    cursor: pointer;
}

section input[type=submit] {
    margin: 0;
}

input[type=submit]:hover {
    background-color: var(--input);
}

/* -----------section------------ */

.rowContainer {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 60px;
}

section {
    border-radius: 10px;
    width: 25%;
    color: #00000080;
    box-shadow: 0 0 10px 0 var(--font);
    background-color: white;
}

.attractionImage img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.attractionTitle, .attractionDescription, .attractionSchedule, .attractionForm {
    padding: 10px 20px;
}

.attractionForm input {
    margin: 0;
}

.attractionSchedule {
    text-align: center;
    font-weight: 600;
}

/* ----------footer---------- */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    /* background-color: white; */
    align-content: center;
    
}

.newsletter {
    padding-top: 20px;
    background-color: white;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter form {
    background-color: var(--blue);
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
    padding: 40px 0;
}

.newsletter input {
    margin: 0 20px;
    padding: 0 20px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    font-size: 1.3em;
    
}

footer form input[type=text], footer form input[type=email] {
    width: 350px;
}

footer form input[type=submit] {
    width: 100px;
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}

.social {
    width: 80%;
    background-color: white;
    padding: 50px 0 30px;
}

.social ul {
    display: flex;
    font-size: 1.2em;
    width: 100%;
    color: black;
    justify-content: space-evenly;
}

.social li {
    display: flex;
    align-items: center;
}

footer i {
    color: black;
    width: 40px;
    font-size: 1.6em;
}

.background {
    position: absolute;
    bottom: 0;
    z-index: -999;
}

.background img {    
    opacity: .6;
    max-width: 100%;
}

.siteMap {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    padding: 20px 0;
    margin-bottom: 50px;
}

.siteMap li {
    padding: 5px 0;
}

.siteMap li a {
    color: #000;
}

.siteMap li a:hover {
    text-decoration: underline;
}