:root {
    --white: white;
    --darkwhite: #ddd;
    --gray: #2E2E2E;
    --blue: #4B01D1;
    --cream: #EEEEEE;
    --font: #00000090;
    --orange: #F2662B;
    --input: #f2882b;
    --shadow: #00000050;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: arial;
    text-decoration: none;
    list-style-type: none;
    color: var(--font);
}

.m-10 {
    margin: 10px 0px;
}

.h-auto {
    height: auto;
}

.w-100 {
    width: 100%;
}

.verticalCenter, .displayFlex, header, header nav, header nav ul, .alignLeft, form, .social, .alignCenter, .directionColumn, main, body, article {
    display: flex;
}

.alignLeft {
    justify-content: start;
}

.directionColumn, form, header, .down-menu, .down-submenu {
    flex-direction: column;
}

.alignCenter, main, form, header nav {
    justify-content: center;
}

.verticalCenter, .alignCenter, main, form, header nav ul {
    align-items: center;
}

main {
    /* position: relative; */
    flex-direction: column;
    flex-grow: 1;
    margin-top: 180px;
    z-index: 10;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
}

/* ----------HEADER---------- */

header {
    position: fixed;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 5px 12px 10px var(--white);
    z-index: 999;
}

header nav {
    text-align: center;
    margin-top: 6px;
}

header img {
    position: fixed;
    top: 20px;
    left: 0px;
    right: 0px;
    height: 3rem;
    margin: auto;
}

header li {
    color: var(--blue);
}

.down-menu li {
    padding: 8px;
}

.headerTop {
    width: 100%;
    height: 70px;
    background-color: var(--white);
    z-index: 100;
}

header li:hover > i, header li:hover {
    color: var(--orange);
}

.navLink:hover > li > i::before {
    transform: rotate(180deg);
}

.down-menu, .down-submenu {
    display: none;
}

.down-menu {
    box-shadow: 0px 1500px 0px 1500px var(--shadow);
}

.navLink, .sidebar {
    position: relative;
}

header nav > ul > div:hover {
    border-bottom: 4px solid var(--orange);
    margin-bottom: -4px;
}

.navLink:hover .down-menu {
    display: block;
    position: absolute;
    top: 22px;
    left: 0px;
    width: 250px;
    background-color: var(--white);
    color: var(--blue);
}

.navLink:hover > .down-submenu {
    display: block;
    position: absolute;
    top: 0px;
    left: 249px;
    width: 300px;
    background-color: var(--white);
    color: var(--blue);
}

.down-menu li, .down-submenu li {
    display: block;
    text-align: start;
    margin: 0.1px 0px;
    border-bottom: 1px solid var(--blue);
}

header i {
    margin-left: 10px;
}

header nav ul {
    justify-content: space-around;
    width: 50%;
}

.navLink, .down-menu li, .sidebarButton, input[type="submit"] {
    cursor: pointer;
}

/* ----------FORMULARIO HEADER---------- */

.signin {
    margin: 20px;
    padding: 30px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    background-color: var(--white);
}

form {
    z-index: 90;
}

.sidebar {
    right: 0px;
    top: -214px;
    transition: all 0.5s ease 0s;
}

.sidebar:hover {
    top: 250px;
}

.sidebar:hover .sidebarButton {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}

.sidebar > form {
    position: absolute;
    top: -285px;
    width: 350px;
}

.sidebarButton {
    position: absolute;
    bottom: -30px;
    left: 10px;
    padding: 7px 15px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    transition: opacity 1s ease 0s;
    height: 30px;
}

.sidebar fieldset {
    border: 0px;
}

.sidebar legend {
    margin-left: 10px;
}

#email, #password, #user {
    height: 40px;
    margin: 3px;
    padding: 0px 10px;
    border: 1px solid var(--gray);
    font-size: 20px;
}

input:focus {
    outline: none;
}

.sidebar input[type="text"], .sidebar input[type="email"], .sidebar input[type="password"] {
    background-color: var(--cream);
}

.sidebar input[type="submit"], section input[type="submit"] {
    margin-top: 50px;
    color: var(--white);
    background-color: var(--orange);
    height: auto;
    padding: 10px;
}

section input[type="submit"] {
    margin: 0px;
}

input[type="submit"]:hover {
    background-color: var(--input);
}
